.addNew {
    width: 100%;
    display: flex;
  
    .newContainer {
      flex: 6;
  
      .top,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
  
        h1 {
          color: lightgray;
          font-size: 20px;
        }
        
        .left {
          
            width: 1000px;
          
          .inputContainer{
              padding:0 20px;
              display: flex; 
              justify-content: space-between;
              flex-wrap: wrap; 
              box-sizing: border-box; 

              label{
                font-size:15px;
  
                span{
                  color: red;
                }
              }


            .inputBox{
              width: 400px;
              padding:10px;
              margin-bottom: 20px;
              border:1px solid rgba(167, 167, 167, 0.525);
              border-radius: 5px;
              outline: none;
              box-sizing: border-box; 
            }
          } 
          .userBtn{
            display: flex;
            justify-content: center;
          }
          button {
            width: 250px;
            padding: 12px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin: 10px 20px;
            border-radius: 5px;
            
          }
        }
  
      }
  }
}